[2019-06-24 02:15] channel9network opened #1 "SQL Connection Error"
Namepipe error when running the SQL script in the install instructions. Running SQL Server 2017 express. No firewall on

Before opening:

- [Search for duplicate or closed issues](https://github.com/Resgrid/Core?utf8=%E2%9C%93&q=is%3Aissue)
- Read the [contributing guidelines](https://github.com/Resgrid/Core/blob/master/.github/CONTRIBUTING.md)

Bug reports must include:

- Operating system and ve

[2019-06-29 21:00] ucswift commented on #1
@channel9network is it when your running the `Resgrid.Console.exe dbupdate` command? Did you install SQL Server Management studio as well? If so are you able to connect to the installed SQL Instance? Assuming you installed it in C:\Resgrid, there should be a file called ResgridConfig.json in C:\Resgrid\Config, a property there called `DataConfig.ConnectionString` will point to the database install

[2019-06-29 23:22] channel9network commented on #1
Shawn,

Yes I did install it and yes it is when I run the command. What do I make the connection string for localhost\resgrid. We named the instance resgrid. All I see in the config file is (local), but see that in several places.
Jacob Pasley
CEO
Channel 9 Network
P: (502) 316-8060
W: www.channel9.us

On 6/29/19, 16:00 Shawn Jackson <notifications@github.com> wrote:

@channel9network is it when y

[2019-07-02 15:57] ucswift commented on #1
@channel9network I'll pull the code down to a test environment and set it up to see if I can find the issue as well. Do you remember what settings you used for SQL Server 2017 Express? That way I can set up my db the same as yours.

[2019-07-10 23:50] channel9network commented on #1
Out of the box no specials
Jacob Pasley
CEO
Channel 9 Network
P: (502) 316-8060
W: www.channel9.us

On 7/2/19, 10:57 Shawn Jackson <notifications@github.com> wrote:

@channel9network I'll pull the code down to a test environment and set it up to see if I can find the issue as well. Do you remember what settings you used for SQL Server 2017 Express? That way I can set up my db the same as yours.

—

[2019-08-01 00:47] ucswift commented on #1
@channel9network did you create an empty Resgrid database inside the SQL Server after you had it installed? I'm unable to replicate the error on my end, but I think it may be due to that. If you did can you paste in the full error your getting and your connection string and I can get that fixed.

[2019-08-01 06:06] channel9network commented on #1
We stopped the project. I don't have the time to troubleshoot this. Sorry. Do you call provide install options? If we provide remote access?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Shawn Jackson <notifications@github.com>
Sent: Wednesday, July 31, 2019 7:47:20 PM
To: Resgrid/Core <Core@noreply.github.com>
Cc: Jacob Pasley <jacob@channel9.us>; Mention

[2019-08-05 16:12] channel9network commented on #1
Shawn,

We are have some time to allocate to this. Project again. Can you advise the following:

Server OS preferred
SQL Server preferred
Resources needed for getting started. All of this will be virtual machines

Jacob Pasley

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jacob Pasley
Sent: Thursday, August 1, 2019 1:06:51 AM
To: Resgrid/Core <reply@reply.

[2019-08-05 16:15] channel9network commented on #1
Also. What should the connection string look like for replacing it in the config file. I wish you guys had an installer platform to just install it on windows with all the steps in a GUI. Can I request that option for. The future?

[2019-09-11 19:56] neuronet77 opened #2 "Resgrid.Console.exe dbupate -> error"
C:\ResGrid\Tools>Resgrid.Console.exe dbupdate
Resgrid Console
-----------------------------------------
Starting the Resgrid Database Update Process
Please Wait...
There was an error trying to update the Resgrid Database, see the error output b
elow:
System.Data.SqlClient.SqlException (0x80131904): The object 'DF__Departmen__Crea
t__54968AE5' is dependent on column 'CreatedByUserId'.
ALTER TABLE A

[2019-09-13 14:41] ucswift commented on #2
Hello @neuronet77, was this the initial installation or a subsequent update?

[2019-09-13 16:29] neuronet77 commented on #2
On initial installation

[2019-09-16 14:55] ucswift commented on #2
What version and edition of SQL are you installing to, any special options, i.e. collation?

[2019-09-16 15:40] neuronet77 commented on #2
SQL Server: 11.0.2100
Collation: SQL_Latin1_General_CP1_CI_AS
Basic install.

[2019-09-16 18:12] neuronet77 commented on #2
Microsoft SQL Server 2012 - 11.0.2100.60 (X64)
Copyright (c) Microsoft Corporation
Enterprise Edition (64-bit) on Windows NT 6.2 <X64> (Build 9200: )

[2019-09-17 17:00] ucswift commented on #2
@neuronet77 thanks for the info! I'm loading up a test env with 2012 now to take a look. Testing wise we've only been testing with 2016 SP1 and 2017.

[2019-09-20 12:32] neuronet77 commented on #2
Good morning Shawn. Do you got an update on it? Or should I upgrade to 2016 SP1 or 2017?

[2019-09-28 19:09] ucswift commented on #2
@neuronet77 Sorry for the delay, I was able to stand up a test environment and reproduce this issue. I've tracked it down to the database migration creating constraints with different names then the migration was using to update the schema, causing the update to fail. I have added a fix for this and will be working on cutting a new release.

[2019-09-28 19:22] ucswift commented on #1
@channel9network Just wanted to circle back on this issue. While looking at issue #2 I found that instance names in connection strings for the config.json were not being processed correctly. In commit 2fada9a661b4e1f59948d36beea00fa880ad80fb I updated the documentation (https://resgrid-core.readthedocs.io/en/latest/installation/index.html#id3) that now calls out that a double backslash \\ is neede

[2019-09-28 19:25] ucswift commented on #1
So an example connection string which utilizes a SQL instance name will look like this in the ResgridConfig.json file:
![2019-09-28 12_23_11-Window](https://user-images.githubusercontent.com/410646/65821474-ddb90d80-e1ea-11e9-9c1e-3e47ee8fa503.png)

[2019-09-28 21:10] neuronet77 commented on #2
@ucswift Thanks a lot! I'll try it later tonight!

[2019-10-02 14:34] ucswift commented on #2
Cut a new release v0.15 and tested this with multiple versions of SQL and did not receive the error. Can you give it a test and let me know if it works.

[2019-10-02 14:35] ucswift commented on #1
Cut a new release v0.15 and tested a few different scenarios and was able to get past the SQL connection issue. When you get a chance can you pull down that release and give it a test.

[2019-10-04 02:03] channel9network commented on #1
I will setup a clean server and install and let you know how it works. Is there a plan in the future to have a Windows complete installer?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Shawn Jackson <notifications@github.com>
Sent: Wednesday, October 2, 2019 9:35:19 AM
To: Resgrid/Core <Core@noreply.github.com>
Cc: Jacob Pasley <jacob@channel9.us>; Mention

[2019-10-10 04:20] channel9network commented on #1
I got the SQL Script to execute great! Finished the installation per the instruction and get this. Any ideas? I followed it to the letter. Running Windows Server 2012 R2 with all updates and service packs, MS SQL Server 2017 with default instance. IIS 10 with all the settings mentioned. All the other applications are already running in the services.
[cid:98194774-7a4c-4861-ba66-8dcfd039bff7]

Jaco

[2019-10-14 16:56] ucswift commented on #1
@channel9network Not seeing anything in the github issue comment (https://github.com/Resgrid/Core/issues/1#issuecomment-540346045) You may need to manually upload the attachment.

[2019-10-14 17:15] channel9network commented on #1
Getting 500 error on webload

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Shawn Jackson <notifications@github.com>
Sent: Monday, October 14, 2019 11:56:37 AM
To: Resgrid/Core <Core@noreply.github.com>
Cc: Jacob Pasley <jacob@channel9.us>; Mention <mention@noreply.github.com>
Subject: Re: [Resgrid/Core] SQL Connection Error (#1)

@channel9network<https://g

[2019-10-23 15:13] ucswift commented on #1
@channel9network can you send the details of the 500 error? If your just getting a generic error page without details try viewing the page from the localhost server and that should give some error detail. Otherwise you should be able to get some information from the Windows Event Viewer.

[2019-12-24 12:04] micheleborello opened #3 "file Resgrid.Web.Services.XML code?"
I can't find the file
Resgrid.Web.Services.XML
Can anyone help me?
where can i find the code?

[2020-01-13 20:12] ucswift commented on #3
Hello,
   Where are you getting that error? It shouldn't be needed as it's just a metadata file created by the build process.

[2020-01-20 15:39] micheleborello commented on #3
it should create folders during installation but I can't find them, so the system doesn't react with the APIs.
is it possible to have the complete file? I try to reinstall it

[2020-01-20 16:51] ucswift commented on #3
If your looking for the folders, you can download the latest release https://github.com/Resgrid/Core/releases/download/v0.15/ResgridCore_v015.zip and unzip that, that has the directory structure defined. Missing an XML file sounds like a compiler error though, did you run into that somewhere?

[2020-02-18 10:56] Aaronjacobs678 opened #4 "HTTP Error 500.19 - Internal Server Error"
Good Morning!

After completing the final step of installation - setting up IIS, when I navigate to the webpage I am getting an internal server error stating the configuration data for the page is invalid. In addition, once the site is setup on IIS and I try to navigate to any internal functions of IIS on its GUI, I keep getting a 'pop-up' with an unknown error. I have attached some screen shots.

[2020-02-21 15:26] ucswift commented on #4
Hello,
   What do the contents of the Web.config look like at that location C:\Resgrid\Web\Web.config?

[2020-02-23 20:06] Aaronjacobs678 commented on #4
Evening!

Thanks - as taken from latest zip package:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Resgrid.WebCore.exe" stdoutLogEnabled

[2020-02-25 17:29] ucswift commented on #4
That looks like it should be ok, I think the issue is with IIS, do you have .Net 4.6.2 and IIS Features installed for ASP.Net? https://resgrid-core.readthedocs.io/en/latest/installation/index.html#id2 you may also need to make sure the AppPool running the application is setup.

![image](https://user-images.githubusercontent.com/410646/75271615-567bc000-57b1-11ea-947f-858c3aa0c4dc.png)

[2020-02-25 17:30] ucswift commented on #1
Close issue due to inactivity. If the issue is still occurring please open up a new issue and reference this one.

[2020-02-25 17:30] #1 closed

[2020-02-25 17:30] ucswift commented on #2
Close issue due to inactivity. If the issue is still occurring please open up a new issue and reference this one.

[2020-02-25 17:30] #2 closed

[2020-02-26 17:38] cgabryszek commented on #4
I'm also experiencing this problem. I have verified that I have .Net 4.6.2 and IIS Features installed for ASP.Net installed, as well as the AppPools configured and running as above.

[2020-02-26 17:47] ucswift commented on #4
@cgabryszek what OS you running?

[2020-02-26 17:48] cgabryszek commented on #4
Server 2019 Standard

[2020-02-26 17:51] ucswift commented on #4
kk, lemme spin up the test environments and see if I can repo.

[2020-02-26 17:52] ucswift commented on #3
Close issue due to inactivity. If the issue is still occurring please open up a new issue and reference this one.

[2020-02-26 17:52] #3 closed

[2020-02-26 19:49] Aaronjacobs678 commented on #4
Hi All! I ended up changing in Web.cfg, the 'modules="AspNetCoreModuleV2". This allows me to progress past the error, although I have hit the following,
![error3](https://user-images.githubusercontent.com/61187426/75381687-1ca1db00-58d1-11ea-957d-2735e7abb0cf.PNG)
which I am trying to work out why -

[2020-02-26 20:09] Aaronjacobs678 commented on #4
Following on from this error - I had to add the following in IIS connection string: "Trusted_Connection=false;" and create a login for "IIS APPPOOL\.NETv4.5" in SQL Database. Again this is all local, so am unsure how it would effect the security.

I am now up and running at present!

[2020-02-26 20:17] ucswift commented on #4
We did change from .Net 4.6.2 to .Net 4.7.2, but I thought that was after the 0.15 release, that could be causing issues. Looking into that right now.

@Aaronjacobs678 Trusted connection would mean the Windows account running the AppPool (it's Identity) would need to be added as a SQL user and granted access to the database. Thats the recommended approach as you don't have username\passwords in th

[2020-02-26 20:55] ucswift commented on #4
Confirmed that the .Net Framework version required is 4.7.2, will be updating the documentation for that.

[2020-02-26 21:14] Aaronjacobs678 opened #5 "ResgridAPI Compilation Error"
Have readied ResgridAPI, but am suffering this error when heading over to the webpage / help when initially loading the 'resgridapi.local'

Photo attached!

Thanks :-)
![complation](https://user-images.githubusercontent.com/61187426/75388451-f08c5700-58dc-11ea-899d-04d94e4cd064.PNG)

[2020-02-26 21:23] Aaronjacobs678 commented on #4
Ucswift - Thank you so much! Great to hear we are going down that route with the trusted connection too. Really appreciate all your input. Excited to be getting stuck in now! :-)

[2020-02-27 01:43] ucswift commented on #4
@cgabryszek it's missing from the documentation, I'm adding it now, but your need to install the .Net Core 1.1 IIS Server Hosting Module which you can download from here https://go.microsoft.com/fwlink/?linkid=844461 once it's installed you may need to restart.

[2020-02-27 02:16] ucswift commented on #5
This may be due to missing the .Net Core 1.1 runtime on your system you can download it from here https://dotnet.microsoft.com/download/visual-studio-sdks?utm_source=getdotnetsdk&utm_medium=referral and ensure that you install the correct architecture for your system x64 or x86.

[2020-02-29 16:49] ucswift commented on #4
As part of our https://github.com/Resgrid/Core/releases/tag/v0.2.21 release we updated the documentation and default credentials for database connection strings and RabbitMQ. Thanks for reporting these issues.

[2020-02-29 16:50] ucswift commented on #5
As part of our https://github.com/Resgrid/Core/releases/tag/v0.2.21 release we updated the documentation to point out the missing .Net Core 1.1 runtime dependency. Thank you for reporting this!

[2020-03-17 00:41] ucswift commented on #4
Close issue due to inactivity. If the issue is still occurring please open up a new issue and reference this one.

[2020-03-17 00:41] #4 closed

[2020-03-17 00:41] ucswift commented on #5
Close issue due to inactivity. If the issue is still occurring please open up a new issue and reference this one.

[2020-03-17 00:41] #5 closed

[2020-05-14 21:06] amardimiaty opened #6 "Could not find file 'C:\Resgrid\Api\App_Data\Resgrid.Web.Services.XML'."
Hi I'm Getting this error

[FileNotFoundException: Could not find file 'C:\Resgrid\Api\App_Data\Resgrid.Web.Services.XML'.]    System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath) +1404    System.IO.FileStream.Init(String path, FileMode mode, FileAccess access, Int32 rights, Boolean useRights, FileShare share, Int32 bufferSize, FileOptions options, SECURITY_ATTRIBUTES secAttrs, Stri

[2020-05-15 03:04] amardimiaty commented on #6
Hi , I try to do troubleshooting, add the application to visual studio then build it , after building the application I found the xml file and copied to the application , a new error came

Notice that I'm using .net 4.8

![image](https://user-images.githubusercontent.com/64644450/82007037-42da4a00-967a-11ea-8baa-8113f722e352.png)

[2020-05-15 16:49] ucswift commented on #6
Did you download the binaries from the release package zip or directly from source?

[2020-05-15 18:33] amardimiaty commented on #6
Hi
I download it from here
https://github.com/Resgrid/Core/releases/tag/v0.2.21

[2020-05-15 22:45] ucswift commented on #6
Ok, you pulled the ResgridCore_v0.2.21.zip and not the source right? Also what version of Windows are you using?

[2020-05-15 23:18] amardimiaty commented on #6
Windows 10

[2020-05-16 02:01] amardimiaty commented on #6
Hi ucswift

I download version 2.20.zip , and deploy I got the site in
![image](https://user-images.githubusercontent.com/64644450/82107628-606ee880-973a-11ea-9d0b-c66ec94f5676.png)

and API

![image](https://user-images.githubusercontent.com/64644450/82107648-79779980-973a-11ea-9b0e-9fa6f2a4d4af.png)

I'm very interesting with your software , its very create job

[2020-05-16 19:21] ucswift commented on #6
How are your IIS Application Pools configured for both websites in IIS? Can you take screen shots of the basic and advanced screens.

[2020-05-16 20:08] amardimiaty commented on #6
Hi please find it below

![image](https://user-images.githubusercontent.com/64644450/82129225-3b2db900-97d2-11ea-9d7c-9699848add94.png)

![image](https://user-images.githubusercontent.com/64644450/82129235-500a4c80-97d2-11ea-9140-87b43d42386f.png)

![image](https://user-images.githubusercontent.com/64644450/82129246-5d273b80-97d2-11ea-9229-ee0c4ea495c2.png)

![image](https://user-images.githubuser

[2020-05-17 18:05] amardimiaty commented on #6
any respond ??

[2020-05-18 06:03] ucswift commented on #6
Looks good at a glance, did you install the DotNetCore hosting module as well? https://resgrid-core.readthedocs.io/en/latest/installation/index.html#iis-installation

[2020-05-18 16:50] amardimiaty commented on #6
Hi ucswift , thank you for you support , I was able to fix the site issue
![image](https://user-images.githubusercontent.com/64644450/82238785-e19bca80-9948-11ea-880d-09c8539bdbf7.png)

what I did I connect to physical path via my administrator

![image](https://user-images.githubusercontent.com/64644450/82238912-0db74b80-9949-11ea-8b15-cbb1e510af5c.png)

but still facing with API

![image](https:

[2020-05-18 16:58] ucswift commented on #6
@amardimiaty Good to hear, the Newtonsoft.Json error went away as well? I'm looking into the Service.xml error and trying to get it spun up in the test environment to validate.

[2020-05-18 17:18] amardimiaty commented on #6
Yes Newtonsoft.Json isse is fixed for Resgrid website and it's working fine. Now only error is api error

[2020-05-19 18:03] ucswift commented on #6
@amardimiaty looks like it's an issue with the build processes, the xml file is being generated but not published\bundled. I'm working on putting out a release now with that fix. You can download the source and use Visual Studio 2019 to compile it to generate the file locally if you want in the mean time.

[2020-05-19 21:38] amardimiaty commented on #6
Ok @ucswift  , Thank you for your support

[2020-05-22 17:17] amardimiaty commented on #6
Hi @ucswift  , any update about new release

[2020-05-23 18:33] ucswift commented on #6
Hey @amardimiaty I'm going to try and get it out this weekend, had some inflight changes I wanted to include, sorry for the delay.

[2020-05-29 18:43] ucswift commented on #6
I release v.2.50 https://github.com/Resgrid/Core/releases/tag/v0.2.50 it should include a fix for the missing xml file.

[2020-06-01 00:25] amardimiaty commented on #6
Hi @ucswift  any update

[2020-06-01 00:31] ucswift commented on #6
@amardimiaty I posted a couple days ago, release 0.2.50 should have the fix https://github.com/Resgrid/Core/releases/tag/v0.2.50

[2020-06-01 04:43] amardimiaty commented on #6
Unfortunately I'm getting the same error on the new release on API

![image](https://user-images.githubusercontent.com/64644450/83376637-fdd94600-a3e3-11ea-8702-7611d05d55ed.png)

[2020-06-01 04:57] ucswift commented on #6
Ok that's a new error, the one that was fixed was the one posted above, missing the Services.xml file, which is now being generated and included. Let me test that release again on a fresh VM.

![image](https://user-images.githubusercontent.com/410646/83377130-7fe85100-a389-11ea-8e4d-da52688852da.png)

[2020-06-01 06:37] amardimiaty commented on #6
Ok @ucswift  really thankful

[2020-06-01 22:12] ucswift commented on #6
Confirmed the issue, working on a patch release now.

[2020-06-01 23:24] ucswift commented on #6
@amardimiaty can you test out https://github.com/Resgrid/Core/releases/tag/v0.2.51 and see if it fixed your issue.

[2020-06-02 07:24] amardimiaty commented on #6
Perfect
![image](https://user-images.githubusercontent.com/64644450/83491863-79f68b00-a4c3-11ea-9578-268351eb48be.png)

I got issue
![image](https://user-images.githubusercontent.com/64644450/83491913-8b3f9780-a4c3-11ea-9029-cb6e45979dcc.png)

On the website but I think it is permission issue on my PC

Really Thankful @ucswift

[2020-06-02 16:52] ucswift commented on #6
The website runs a slightly diff framework then the api, make sure you got https://go.microsoft.com/fwlink/?linkid=844461 installed, your hostname mapping for resgrid.local is good, the binding for SSL (port 443) is good as the website will only accept HTTPS/SSL traffic. Also make sure the IIS worker process account has rights to read the files from that directly on disk, sometimes, I usually have

[2020-06-03 07:49] amardimiaty commented on #6
Perfect @ucswift

![image](https://user-images.githubusercontent.com/64644450/83610295-47669400-a590-11ea-8161-a53ef4af1e48.png)

[2020-06-03 07:49] #6 closed

[2020-10-12 05:58] alabamasearchandrescue opened #7 "The command "libman restore" exited with code 9009. Resgrid.WebCore"
Cannot publish Resgrid.WebCore
The command "libman restore" exited with code 9009.	Resgrid.WebCore

[2020-10-12 15:45] ucswift commented on #7
Without the full log output, my guess is that there is a missing exe in your system. Are you building from Visual Studio 2019?

[2020-10-12 18:03] alabamasearchandrescue commented on #7
Yes, 2019. I downloaded the current source files. The project built fine
and got dependencies fine. But got that error when publishing. I can post
log later.

On Mon, Oct 12, 2020, 10:45 AM Shawn Jackson <notifications@github.com>
wrote:

--

Alabama Search And Rescue
*This email and any files transmitted with it
are confidential and intended solely for the use of the individual or
entity to whom

[2020-10-12 18:24] ucswift commented on #7
Thank you! You may need to add a NuGet package source to the References folder under the Resgird solution:

![image](https://user-images.githubusercontent.com/410646/95778622-5ca9a880-0c7d-11eb-83f2-4ec853a69938.png)

I'm wrapping up a major update to the code-base right now, migrating to .Net Core 3.1 and .Net Standard 2.0 so that won't be needed when I get that pushed out.

[2020-10-12 18:54] alabamasearchandrescue commented on #7
Also another issue. I can login fine to Resgrid from the web browser
locally on the server. But when I access the webpage from an external
computer (which works fine with our domain and ssl cert), we get the login
page but it says invalid password.
Its like its blocking logins that aren't coming from the local machine even
though on the local machine we are accessing via the custom domain.
When lo

[2020-10-12 19:25] ucswift commented on #7
Can you use Chome or Firefox F12 Dev Tools to capture the network traffic when you try to log in remotely? That definitely should not be the case, but there could be a bug in the login code, or potentially an issue with routing\dns resolution.

There was a bug in the Shifts pages, some browsers it's blocking, others it was just a console output error. If you can send me the browser console I can v

[2020-10-12 19:41] alabamasearchandrescue commented on #7
What version of Visual Studio are you using?

I changed my password that way I wasn't giving you my current password and that fixed the issue. Now I can login locally and remotely. I know for 100% certain that I was typing in the correct password the first time as I tried over 10 times on both.

Attached is the console error log for the NewShift page.

![con1](https://user-images.githubusercontent

[2020-10-12 20:01] ucswift commented on #7
Visual Studio 2019 here. Some notes based on those error logs, the SingalR url needs to be https by default, my guess it's a default config on my end that needs to be fixed, I'll make sure it's correct in the next release to try and force https by default. I'm also going to try and add in documentation by default to utilize LetsEncrypt for those that don't have their own SSL certs.

The multi-date

[2020-10-12 20:15] alabamasearchandrescue commented on #7
Will look into be able to host the API as HTTPS on the same machine. Not for sure how to do that yet.
We are using LetsEncrypt for SSL and it seems to be working great.
Yes we have a station type group with 3 members.

[2020-10-13 00:40] ucswift commented on #7
Interesting, I'll note the issue and take another pass at that screen to ensure I'm not getting any console errors in the latest code-base. Also note, that the image 404's will be changing in the newer build, so they won't clutter up your console logs in the future.

If you can send me the VS Build\Pusblish output when you get a chance and I can take a look at that issue as well.

[2020-10-24 00:20] ucswift commented on #7
Hello,
   I was able to track down the libman 9009 error. It's a separate tool that needs to be installed globally via the CLI. More information here (https://docs.microsoft.com/en-us/aspnet/core/client-side/libman/libman-cli) that should fix that specific error.

[2020-10-27 14:02] alabamasearchandrescue commented on #7
Will try. Do you have a support email or phone number?

On Fri, Oct 23, 2020 at 7:20 PM Shawn Jackson <notifications@github.com>
wrote:

--

Alabama Search And Rescue
*This email and any files transmitted with it
are confidential and intended solely for the use of the individual or
entity to whom they are addressed. If you have received this email in error
please notify the system manager. This me

[2020-10-27 16:18] ucswift commented on #7
As of right now, open-source support is only done via Github, we are working on adding support plans for the OSS side here in the near future. If you have non-OSS support-related questions you can email team@resgrid.com.

[2020-11-04 05:10] ucswift commented on #7
Closing this issue for now as the 9009 error can be fixed by installing the libman-cli dot net tool. I've pushed up the new .Net Core 3.1 and .Net Standard 2.0 update that will facilitate our docker release that should ease deployment.  The first docker release will be up on Docker Hub by the end of the month.

[2020-11-04 05:10] #7 closed

[2020-11-25 19:02] copacarmine opened #8 "Server error"
Hi, first of all congratulations for all the work done. The software is great!

The error I would like to report to you is that while I'm configuring the product, so I have to make the first login, it says "HTTP Error 500.19 - Internal Server Error" (I enclose screenshots).

Can you tell me why? I followed all the steps and installed it all on a remote vps.

Thank you in advance and I look forward

[2020-11-25 20:43] copacarmine commented on #8
Aggiornamento:

ho risolto quel problema, però installando la versione, e, accedendo con l'account standard va tutto bene. Però, dall'esterno (app o bigboard) non riesco ad accedere puoi aiutarmi? **I hope you will answer my question as this software is of vital importance to us.**

Poi, se provo a lanciare http://resgridapi.local mi appare questo errore:

Server Error in '/' Application.
Login fa

[2020-11-25 20:47] ucswift commented on #8
Hey,
   Looks like your backend database doesn't have a user created for resgrid_app or the password in the config doesn't match the password in the config file. Additionally, you can get that error if the resgrid_app user doesn't have dbo rights for the Resgrid database.

[2020-11-25 20:52] copacarmine commented on #8
Okay, I'll check this out immediately.
So I guess the other problem depends on that too. Right?
That is that I can't connect from the app or from a web browser

[2020-11-25 20:53] ucswift commented on #8
Yea gotta get that sorted out first, it'll cause a number of errors. Once that's set can retry the web and see if the error changes.

[2020-11-25 21:00] copacarmine commented on #8
I double-checked the config file and the db and passwords are the same. the user resgrid_app has administrator permissions for the db

[2020-11-25 21:34] copacarmine commented on #8
What else can I do?

[2020-11-25 22:01] ucswift commented on #8
Is the connection string to the server correct? Is it setup to allow remote TCP connections via port 1433 and there isn't a firewall blocking it?

[2020-11-25 22:05] copacarmine commented on #8
Mh don't know. Where can I see it?
In any case the Windows firewall is deactivated

[2020-11-25 22:18] ucswift commented on #8
Same box installation of all the components, i.e. SQL Server and the Web Server are the same box?

[2020-11-25 22:38] copacarmine commented on #8
Yes.

A vps with Windows Server 2019. All on the same machine, in C:/ there is the Resgrid folder and then of course everything else.

In any case, I also have two questions.

The first one
-You could insert a script/plugin that automatically fills in a "PCR" (Patient Treatment Card).
The second
-You could insert a check-list for the vehicles to be carried out at the beginning of the shift (to exp

[2020-11-25 22:43] ucswift commented on #8
Is your hosts file setup? What server is the SQL server connection string pointing to? You can change it to (local) to pull back to the local instance.

ePCR functionality is on the roadmap, but we have no eta for that functionality yet. It would be used to extend the run reports that are currently in the system.

We are working on rig checklists and maintenance\work log functionality that is some

[2020-11-25 23:00] copacarmine commented on #8
The host file is configured correctly (as per the guide). How can I change it to point it locally?

[2020-11-25 23:13] ucswift commented on #8
In your ResgridConfig.json file you can add/modify this line https://github.com/Resgrid/Core/blob/v0.2.51/Core/Resgrid.Config/ResgridConfig.json#L4 and change `rgdevserver` to `(local)`

Also, to confirm, you downloaded the zip from the Releases and not the source correct?

[2020-11-25 23:22] copacarmine commented on #8
Ok now it works. If I search "http://resgridapi.local" it takes me back to the /help page.
How do I continue to use accounts from apps or bigboards?

[2020-11-25 23:25] ucswift commented on #8
So the api should always redirect back to the help (api list page). you should be able to navigate to http://resgrid.local and login using the default credentials to create new accounts.

When those accounts are created uses can connect to your instance. The deployed version of the apps in the stores don't work with private instances yet. As for the bigboard you can deploy your own from here https

[2020-11-25 23:30] copacarmine commented on #8
Ah ok

So people can only enter by connecting to vps. Right?

Because the most important thing for us is the use of the mobile application. Are there any alternatives?

For BigBoard, can I use the same vps?

[2020-11-25 23:36] ucswift commented on #8
I'm working on getting the app store version update with that support in the next version. Note that with the app store version push notifications would not work but all other functionality would. For the big board, yes you would just have to create a new site in IIS just for the big board and give it either a unique port or hostname for clients to connect to.

[2020-11-25 23:43] copacarmine commented on #8
Okok.

But one thing is not clear to me, currently wanting to reach my Resgrid installation from the outside is almost impossible. Or am I wrong? So it would be practically unusable for us, unless you find an alternative to the provlrk

Apps are not open source?

[2020-11-25 23:49] ucswift commented on #8
No reason why your installation can't be publicly available, you need to setup publically routable hostnames and IP addresses to hit your installation box.

The apps being OSS complicates issues, due to private instances of the apps also being deployed to the app stores which can create confusion. Currently we OSS the apps that we don't have deployed to the stores as independent apps, the Dispatch

[2020-11-25 23:58] copacarmine commented on #8
I understand, thank you very much for your answers. We will look for a solution.

In any case, if I paste the public ip address of the vps on any browser. It redirects me to the "courtesy" page of iis.

Kindly, could you show me how to do it? And then I would ask you for "personal" advice. Ok for sending the calls via pc from the operations center, but, practically, how could we track the ambulanc

[2020-11-26 00:06] ucswift commented on #8
So IIS needs to be configured to route for the hostname to the correct IIS app, for example, you would replace resgrid.local with your public web hostname and resgridapi.local with your public api hostname. The .local hostnames are just used for initial standup and don't work over the Internet. Your hosting provider should be able to provide you assistance in that arena, but because it's not direc

[2020-11-26 08:49] copacarmine commented on #8
ok, but there is another error 😶

<img width="1440" alt="Schermata 2020-11-26 alle 09 46 27" src="https://user-images.githubusercontent.com/59513546/100328053-5f155700-2fcc-11eb-9796-41938b18b6ca.png">

[2020-11-26 19:19] ucswift commented on #8
Did you get that just navigating to the site, or when you performed an operation? Looks like there may be a missing component.

[2020-11-27 10:36] copacarmine commented on #8
This error appears when I try to enter resgrid.local

[2020-11-29 19:43] ucswift commented on #8
Can you look in your application event log to see if there are any errors there? Also, can you share your worker process and iis settings for the web instance in iis.

[2020-12-09 15:53] ucswift commented on #8
Just wanted to leave a note here, the Resgrid Responder app thats delivered through the store now supports switching the backend api to your own hosted version, 8.201 I believe is that version number. If you can send me the IIS info we can see whats going on with the web error.

[2020-12-10 12:28] copacarmine commented on #8
What great news! Tell me what to do and I'll send you all the screens of the apps and various configurations. If it's possible, we'd like to have it all sorted out by Monday so we can activate the app.

[2020-12-10 13:15] copacarmine commented on #8
Another question, is there any way (manually of course) to translate or use Italian on web and app?

[2020-12-18 11:06] netforce opened #10 "containers fail to start"
Trying to build the docker containers, which goes wel. untill they start.. Since i have no experience with dotnet building i'm not able to debug this..

Lets take this step by step;
* changed some ConnectionStrings in Core/Resgrid.Config/DataConfig.cs and /Core/Resgrid.Config/ServiceBusConfig.cs and updated the /Core/Resgrid.Config/ResgridConfig.json to match my seperate MSSQL and RabbitMQ server

[2020-12-19 02:48] ucswift commented on #10
Hey,
  Its failing due to the correct env variables not being set, connection strings to redis, rabbitmq and sql server. I'm working on the documentation update for the container deployment.

[2020-12-21 08:55] netforce commented on #10
Hello Ucswift,

hm, i thought i tackled those errors by changing the BusValues and Connectionstrings in DataConfig.cs and ServiceBusConfig.cs, next to the ResgridConfig.json. Because it looked like the vars from ResgridConfig.json were overruled by those in de .cs files..

I'l be waiting for the documentation :)

[2020-12-21 09:06] copacarmine commented on #8
Hi! Any news?

[2020-12-21 15:23] ucswift commented on #10
For containers, I added support to set the values via environment variables. The pattern for the name is "RESGRID__" + the Config file name + "__" + the Property your setting, for example:

RESGRID__CacheConfig__RedisConnectionString

Note, Resgrid needs to be in all caps, and it's double underscores that separate the parts.

The most important values to set:

RESGRID__CacheConfig__RedisConnection

[2020-12-21 15:35] ucswift commented on #8
Hey,
  Oh sorry was waiting for the output of the application event logs. To determine why the web app was not starting up. Right now the app does not support multiple languages but that is on our roadmap. If you are using Google Chrome you can use the translate plugin to alter the language of the web app.

I can try and quick steps on how to access the event viewer.
![2020-12-21 07_28_55-Window](

[2020-12-30 19:44] mgti opened #11 "Running ResGrid in Isolation"
Hello Resgrid team, I have a scenario where I'm trying to run ResGrid in an isolated environment without access to the internet. While using the open source version in isolation a few features are not working, such as the Personnel panel on the Home dashboard and the Top Right Drop Down Menu's. Testing access to Resgrid while running Wireshark and IE Developer Tools option enable shows the applica

[2020-12-31 17:08] ucswift commented on #11
Hey @mgti what calls are going out? You should be able to run the system as it should fallback to local options of js dependencies if it can't pull them from a CDN. If those are missing it could cause the issue. The intent is you can run the system completely isolated, but some systems, like Push Notifications, won't work in that state, but most of the system will be functional.

[2020-12-31 18:03] mgti commented on #11
Thanks for the quick response, here's a list of 3rd party calls that I've documented going out to load various js and other items, and when the clients fails to access (in the case when running Resgrid and clients in an isolated environment) some of the panels and other functions are failing:

ajax.googleapis.com
api.resgrid.com
az416426.vo.msecnd.net
fonts.googleapis.com
fonts.gstatsic.com
maps.g

[2020-12-31 18:11] ucswift commented on #11
Thanks for that list, it helps a ton! Just going through it the gstatic ones should be fine, and the mapping ones won't work, but we are looking at migrating from Google Maps to Open Street Maps that would allow you to run an on-prem tile server for those. Stripe is our payment provider and not needed for on-prem installs and can be safely ignored. The big ones that I think could be causing you pr

[2020-12-31 19:28] mgti commented on #11
SCRIPT5007: Unable to get property 'fn' of undefined or null reference
File: metisMenu.min.js, Line: 8, Column: 970
SCRIPT5009: 'jQuery' is undefined
File: jquery.slimscroll.min.js, Line: 8, Column: 2
SCRIPT5009: 'jQuery' is undefined
File: select2.full.min.js, Line: 1, Column: 319
SCRIPT7002: XMLHttpRequest: Network Error 0x80070005, Access is denied.
File: Dashboard
SCRIPT5009: 'jQuery' is undef

[2020-12-31 19:43] ucswift commented on #11
Ok yep, the jquery fallback is not working, causing your issue. I'll take a look at this in the code I'm about to push up to github to see if I can get that resolved.

[2021-01-01 19:36] netforce commented on #10
ah pfrt, good evening (and the best wishes)!

i overlooked the RedisConnectionString. Some playing around and reading manuals for redis on dotnet applications got it working. e.g the containers boot.

changes made to the docker-compose.yml;
[...]
   image: ${DOCKER_REGISTRY-}resgridwebcore
+    env_file: resgrid-docker.env
[...]
   image: ${DOCKER_REGISTRY-}resgridwebservices
+    env_file: resgri

[2021-01-01 19:55] ucswift commented on #11
@mgti I've pushed up a commit with a fix for this issue (https://github.com/Resgrid/Core/blob/master/Web/Resgrid.WebCore/Areas/User/Views/Shared/_UserLayout.cshtml#L92) this will properly fallback if it cannot get Bootstrap or jQuery from the CDN or if the hash is invalid. So that fix will be in the next code and Docker release which I'm working on now.

[2021-01-01 20:22] netforce opened #12 "AzureEventing called when IsAzure=false"
It seems that AzureEventing is called on several occasions, which results in crashing the resgrid-web container.

These containers are not running on azure, so i would guess, when my setting SystemBehaviourConfig.IsAzure=false, the Azure eventing service is not called upon.

The event (adding a call, or some user changing his availability) is processed corectly when restarting the container, so th

[2021-01-01 20:23] netforce commented on #12
on further investigation, and after trying to change notifications in domain.example/User/Notifications i get an error 500 entering User/Notifications . Maybe related tot any notifications?

resgrid.web.servicescore_1  |       Content root path: /app
resgrid.webcore_1           | fail: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[1]
resgrid.webcore_1           |       An unhandled e

[2021-01-01 21:23] ucswift commented on #12
@netforce AzureEventing should be left on by default, even in a NonAzure env. But you want to change https://github.com/Resgrid/Core/blob/master/Core/Resgrid.Config/SystemBehaviorConfig.cs#L93 so that's it's using Rabbit, should be by default. I'll also take another pass at that startup logic to ensure it doesn't try and connect when not using the Azure Service Bus.

The notification one is a bug,

[2021-01-01 21:50] ucswift commented on #12
I just pushed up https://github.com/Resgrid/Core/commit/a87c010069ba229e72ac2cd367b36c70849b2c4f which is a fix for the notification exception in the controller. I'm going to double-check the app state with IsAzure = false but if I remember right, as long as the SystemBehaviorConfig's are set up to not use an Azure resource, i.e. Service Bus, it should be fine.

[2021-01-01 23:24] netforce commented on #12
Just pulled and merged the last code from here.

In SystemBehaviourConfig.cs line 93 is on Rabbit, as default indeed.

In the Resgridconfig.json nothing is set for the BusConfig, as by default.

 root@resgrid-docker:/home/eelco/Resgrid-core# cat Core/Resgrid.Config/ResgridConfig.json  | grep BusConfig
  "ServiceBusConfig.RabbitHostname": "rgdevserver",
  "ServiceBusConfig.RabbitUsername": "resgrid

[2021-01-02 01:02] ucswift commented on #12
@netforce Thanks for that research, I'll add some guarding code to prevent it from calling/getting hit when that isn't set. The test env we use for validation has a diff config which is why I didn't catch that in that env.

[2021-01-02 03:45] ucswift commented on #12
Pushed up commit https://github.com/Resgrid/Core/commit/8a185d68fc58d8de4de25cbca02e07efff9bc74c that fixes the but in the outbound event provider that was still calling the Azure service bus code even when Rabbit was selected. That will make it into the next update of the containers which I'm working on now.

[2021-01-02 11:23] copacarmine commented on #8
Morning,
next week we are buying a new vps from a new provider, and I will try again with the installation. I will let you know.

In the meantime as a test we are using the version hosted by your site, I've noticed some problems. Among them:

- in the mobile app in the details of a call there are no contacts (first and last name, phone number etc).
- There are issues with the gps update.
- In the

[2021-01-02 12:29] netforce commented on #10
minor note on the above env/docker-compose file;
- lose the quotes in the BaseUrl lines
- added portmappings in the docker-compose files for both containers. Base: port 80:80, Api: port 80:81
- changed the api BaseURL to http://domain.example:81
`
[...]
image: ${DOCKER_REGISTRY-}resgridwebcore
env_file:
  - resgrid-docker.env
ports:
  - "80:80"
[...]
image: ${DOCKER_REGISTRY-}resgridwebservices
en

[2021-01-02 18:19] ucswift commented on #8
@copacarmine thanks for the info, what are the issues with the gps update?

For POIs, that mapping solution is deprecated and were replacing it, so we didn't fully integrate it with the rest of the system. For the unit custom statuses, did you tie the custom status with the unit type and that type is applied to the unit? I am working on a Responder and BigBoard app update here shortly and will tak

[2021-01-04 18:22] mgti commented on #11
Thanks @ucswift, I'll be testing the fix this week and will keep you posted.
I appreciate the help and quick turn around.

[2021-01-05 17:16] ucswift commented on #12
FYI, I'm working on the CI infrastructure to work on pushing out the containers to DockerHub. There was some pre-work I needed to do to the Proxmox host to enable the functionality required. I got that done and will be working on the CI pipeline this week.

[2021-01-05 17:18] ucswift commented on #11
Hey, @mgti I'll be pushing out a release hopefully sometime this week. The version number will be 0.3.x when it's up and will contain this fix. I'm working on the CI pipeline this week to generate the package I need for the Github release.

[2021-01-06 02:20] mgti commented on #11
@ucswift, I tested the patch and got a 500 error after login.
Just for info, HTTP 404 for these two files:
     GET     /lib/metisMenu/dist/metisMenu.min.css
     GET     /lib/bootstrap/dist/css/bootstrap.min.css
And a 500 for this POST
      POST https://<fqdn>/User/Home/Dashboard
I restored the original _UserLayout.cshtml and will hold off any further testing\troubleshooting and pull the new rel

[2021-01-06 08:40] copacarmine commented on #8
I know it's not related to the issue. More like I'd like some advice.
What do you recommend for ambulances/operators? Tablets or similar?

Since we would like something accurate and reliable (especially with gps). I did some testing with a Samsung tablet and the Resgrid Unit app but the gps on the bigboard would stay stationary in the middle and update with static locations that when I updated the

[2021-01-09 18:34] ucswift commented on #8
The Bigboard map only updates when there is status updates calls, that prevents excessive drawing of the map. We are looking at some way to display the live geolocation data in a form that would not prevent map redraws. Currently the live location data is stored in the db, but not displayed unless a refresh occurs.

I would recommend tablets, with a tough case and a keyboard in the case. If your e

[2021-01-11 09:37] copacarmine commented on #8
OK I get it.
Yes, because what we would need is just a map that updates almost "in real time". For organizational issues.
I look forward to this update.

[2021-01-21 17:24] copacarmine commented on #8
Hi, we got the new vps and I am proceeding with the installation. I am proceeding with the guide you made, but there is already the "first hiccup", and it is the installation of rabbitmq. There is no way to make it work, I tried all the methods, all the options and guides from the internet, but nothing, it doesn't work. Are there any alternatives?

[2021-01-21 17:36] ucswift commented on #8
What are the issues you are having with RabbitMQ?

[2021-01-21 17:46] copacarmine commented on #8
**Just installed, when I try to start it it gives me this error. And in no way I can solve it and continue with the work.**

C:\Program Files\RabbitMQ Server\rabbitmq_server-3.8.9\sbin>rabbitmqctl start_app
Starting node rabbit@vmi510578 ...
Error: unable to perform an operation on node 'rabbit@vmi510578'. Please see diagnostics information and suggestions below.

Most common reasons for this are:

[2021-01-21 17:50] ucswift commented on #8
Looks like the node isn't running. Have you started it?

[2021-01-21 17:59] copacarmine commented on #8
Yes, but

Configuring logger redirection
18:58:34.736 [warning] Using RABBITMQ_ADVANCED_CONFIG_FILE: c:/Users/Administrator/AppData/Roaming/RabbitMQ/advanced.config

BOOT FAILED
18:58:37.831 [error]
===========
18:58:37.831 [error] BOOT FAILED
ERROR: distribution port 25672 in use by another node: rabbit@vmi510578
18:58:37.831 [error] ===========

18:58:37.831 [error] ERROR: distribution port 2567

[2021-01-21 18:05] ucswift commented on #8
Hmm, is something else running or locking port 25672? The context that Rabbit is running under will need to be able to open up those ports so there could be something blocking that. You could run a `netstat` to see if something else is using that port locally.

For running on a VPS, those ports will need to be open locally, but I would not expose them to the Internet. Your VPS should have a firewa

[2021-01-21 18:12] copacarmine commented on #8
I ran netstat but nothing seems to be there. If you want I paste the results

[2021-01-21 18:23] ucswift commented on #8
If there are no open ports for 25672, then my guess is it's being blocked from opening that port in the system. Could be an issue where UAC is enabled and you need to run as administrator the cmd for it to work correctly. You could also get the Windows Service running for it, that should also have rights to open up a port.

[2021-01-21 18:32] copacarmine commented on #8
This is the cmd used by administrator

C:\Program Files\RabbitMQ Server\rabbitmq_server-3.8.9\sbin>rabbitmqctl start_app
Starting node rabbit@vmi510578 ...

C:\Program Files\RabbitMQ Server\rabbitmq_server-3.8.9\sbin>rabbitmqctl add_user regrid resgrid!
Error: this command requires the 'rabbit' app to be running on the target node. Start it with 'rabbitmqctl start_app'.
Arguments given:
        ad

[2021-01-21 18:56] ucswift commented on #8
Can you launch 2 cmd apps, run one as admin and use start_app there, then the 2nd window run the add user command. I would recommend getting the Windows service for Rabbit running so it's started automatically https://www.rabbitmq.com/install-windows.html#service

[2021-01-21 19:06] copacarmine commented on #8
Even starting it as a service doesn't change anything. I really don't know what to do

[2021-01-21 19:12] ucswift commented on #8
Is the windows service running? Whats the output in the logs folder or event viewer?

[2021-01-21 19:15] ucswift commented on #8
in the sbin directory if you run `rabbitmqctl status` whats the output (if the windows service is running)

[2021-01-21 19:16] copacarmine commented on #8
C:\Program Files\RabbitMQ Server\rabbitmq_server-3.8.9\sbin>rabbitmqctl status
Error: this command requires the 'rabbit' app to be running on the target node. Start it with 'rabbitmqctl start_app'.
Arguments given:
        status

[1mUsage[0m

rabbitmqctl [--node <node>] [--longnames] [--quiet] status [--unit <unit>] [--timeout <timeout>]

[2021-01-25 16:58] copacarmine commented on #8
**Hi! All solved with RabbitMQ. At the point of doing the database update I get this error. Suggestions?**

Microsoft Windows [Version 10.0.14393]
(c) 2016 Microsoft Corporation. All rights reserved.

C:\Users\Administrator>cd C:\Resgrid\Tools\

C:\Resgrid\Tools>Resgrid.Console.exe dbupdate
Resgrid Console
-----------------------------------------
Loaded Config: C:\Resgrid\Config\ResgridConfig.jso

[2021-01-25 18:05] copacarmine commented on #8
Microsoft Windows [Version 10.0.14393]
(c) 2016 Microsoft Corporation. All rights reserved.

C:\Users\Administrator>cd C:\Resgrid\Tools

C:\Resgrid\Tools>Resgrid.Console.exe dbupdate
Resgrid Console
-----------------------------------------
Loaded Config: C:\Resgrid\Config\ResgridConfig.json
Starting the Resgrid Database Update Process

Unhandled Exception: System.ArgumentException: Keyword not su

[2021-01-25 19:53] copacarmine commented on #8
Okay, all resolved. Installed everything. In local I enter correctly on regrid, but not on resgridapi.local (error in picture 1).

Then trying to connect from my pc to resgrid I get this (picture 2)

*IMAGE 1*
![eRROR509](https://user-images.githubusercontent.com/59513546/105758227-50590b00-5f4f-11eb-9068-12e2db410862.PNG)

*IMAGE 2*
![404notfound](https://user-images.githubusercontent.com/5951354

[2021-02-09 22:37] anewio opened #18 "Migration SQL script contains typo"
Trying to initialize database scheme by executing migration script: ResGrid.Core\Providers\Resgrid.Providers.Migrations\Sql\M0001_InitialMigration.sql, I encountered a SQL error on line 2858:
`ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Endinn]`

After a quick troubleshooting, I believe `[Endinn]` is likely a typo and should be `[EndingOn]` which is a column of table

[2021-02-10 00:22] ucswift commented on #18
Hey @anewio thanks for the issue! I'm looking into it right now and will get a fix in.

[2021-02-10 02:30] ucswift commented on #18
Issue fixed in this commit https://github.com/Resgrid/Core/commit/ae713a608c69dbf11dad031e2bccd9f73cad9ca4 and I got it into the next release I'm working on publishing.

[2021-02-11 22:36] #18 closed

[2021-02-11 23:10] anewio opened #19 "Resgrid.Console.exe dbupate throws unhandled exception"
Resgrid.Console.exe dbupate throws unhandled exception:

[code]

I believe codes in line #86 and #87 can be removed as "ResgridContext" already exists after line #71 loaded `AppOptions:ConfigPath` successufully.
[code]

Or check the connection key before adding it to `settings` collection as below.

[code]

Please correct me if I misunderstood something.

[2021-02-12 16:55] ucswift commented on #19
Hey @anewio thanks for the report!! If you want to deploy and update the db, we use fluent migrator and you can deploy it like this:

dotnet tool install -g FluentMigrator.DotNet.Cli
dotnet fm migrate -p SqlServer -c "[YOUR CONNECTION STRING]" -a "C:\Resgrid\Tools\Resgrid.Providers.Migrations.dll"

I'll look at getting that above error fixed as well.

[2021-02-12 21:02] ucswift commented on #19
Ive added your suggested fix and pushed it up. https://github.com/Resgrid/Core/pull/20/files#diff-7d4c97ef391c3330c175ddf7077c0646e3d77994ea8be2c54de0bbc36fb94e1d I'll be working on testing everything out this weekend to try and get the new release pushed out.

[2021-02-12 21:02] ucswift commented on #8
Worked with user over Discord to resolve installation issue. Closing this issue as it's been resolved.

[2021-02-12 21:02] #8 closed

[2021-02-15 00:37] anewio commented on #19
Thanks @ucswift for the quick response. With the latest commit, `Resgrid.Console.exe dbupate' moves down few steps but ends up with another exception, see attached.

![image](https://user-images.githubusercontent.com/1287541/107893460-36706f80-6ee0-11eb-990a-7faede4e32d4.png)

Above error message tells `FluentMigrator` was not able to load the embedded migration SQL file: `M0001_InitialMigration.s

[2021-02-15 01:44] ucswift commented on #19
@anewio do you get the error if you use the FluentMigrator.DotNet.Cli tool? I've been using that at the moment, but trying to get the Cli working to match documentation. Thanks for that research too, I'll get that added to the code.

[2021-02-15 02:02] ucswift commented on #19
I implemented your fix in https://github.com/Resgrid/Core/pull/21.

[2021-02-15 20:52] anewio commented on #19
CLI appears working.

[2021-02-15 20:53] #19 closed

[2021-02-22 01:42] ucswift commented on #11
Hello,
   It took a month longer than I wanted but the 0.3 release is out there https://github.com/Resgrid/Core/releases/tag/v0.3.25 which has some isolation/offline fixes. I'll close this issue, if you run into any more please open another issue.

[2021-02-22 01:42] #11 closed

[2021-02-22 01:43] ucswift commented on #12
Hello,
  Sorry for the delay, the latest release https://github.com/Resgrid/Core/releases/tag/v0.3.25 also has new docker containers pushed for it that have a fix for this issue in them. If you run into any more issues please open up another issue.

[2021-02-22 01:43] #12 closed

[2021-04-30 12:33] netforce opened #30 "Executing ResgridConsole Docker"
In a Linux/Docker-only environment; how to execute the ResgridConsole to e.g. run DbUpdate? I have the feeling it is possible somewhere.. :)

[2021-04-30 15:05] ucswift commented on #30
Ohh, thats a good one. So the Resgrid.Console app is .Net Core can run from the Linux command line, but that doesn't help in a Docker only env. Let me see what the options there are.

[2021-05-14 20:57] ucswift commented on #30
Hey @netforce sorry for the delay. In https://github.com/Resgrid/Core/commit/1b1faba8848997e112faeb4726702cd5e5187033#diff-4eaa36910ec58948bf0f897dfc9081de17e27f21efa2f0098d249dfcb5adffebR62 I'm adding a env variable "RESGRID_DODBUPGRADE" that will run the database upgrade https://github.com/Resgrid/Core/blob/develop/Workers/Resgrid.Workers.Console/Program.cs#L64 so you can have a worker container

[2021-05-26 14:28] netforce commented on #30
you say it is an dotnet app, on the docker container.
So in my mind i could call ResgridConsole <$command> (eg "dotnet Resgrid.Console dbupdate") on the container..

`root@docker:# docker-compose exec resgrid.workers.console dotnet Resgrid.Workers.Console dbupdate`

I dont know how the Resgrid.Console.exe is build, if this is a wrapper for the dotnet app? If so, via docker exec you could execute t

[2021-05-26 15:39] netforce commented on #30
ok.. after fighting for a while(!) with mssql CLI to creat a user/role/rights/whatever.. (omg wat a complicated mess)... the upgrade failes on an empty database.
It has created the table 'dbo' and nothing more :(

resgrid.workers.console_1   | Finished Initializing Dependencies.
resgrid.workers.console_1   | info: Resgrid.Workers.Console.ScheduledJobsService[0]
resgrid.workers.console_1   |

[2021-05-28 15:09] ucswift commented on #30
@netforce Yes, it's a .NetCore 3.1 app, I migrated everything from full framework to .NetCore end of last year, so should be able to run like that, the config file access would be the strange one, i.e. making sure it's pointed at the correct database/env. I will be going the env var route to support k8s installations where they might not have solid access to run the container directly. The console

[2021-05-31 15:27] netforce commented on #30
clean mssql server, new user, new databases;

The table 'dbo.Templates' does indeed nog exsist in the database 'Resgrid'
This is al clean install, not an upgrade. Maybe that is the issue?

resgrid.workers.console_1   | -------------------------------------------------------------------------------
resgrid.workers.console_1   | 4: M0004_AddingSortToTemplates migrating
resgrid.workers.console_1   |

[2021-05-31 15:48] ucswift commented on #30
Let me load this on a fresh test system now and verify, it's possible, templates is newer so that script could be messed up.

[2021-05-31 19:43] ucswift commented on #30
@netforce are you pulling from the latest release or source? I just ran the latest release version 0.3.25 and it only goes to Migration 2. I'm wondering if there is a delta with the docker version in that release.

![image](https://user-images.githubusercontent.com/410646/120234896-bf9c7f80-c20d-11eb-9141-9b00d2b8f601.png)

[2021-06-02 11:47] netforce commented on #30
it was a "clean" install, not an upgrade.

I am pulling latest master source from here, no release-tags.
docker-compose build && docker-compose up

* mssql-server 14.0.3381.3-2 on debian Buster.
* Docker version 18.09.1, build 4c52b90

it seems to work fine with no dbo.template table for now.

[2021-06-02 12:19] netforce opened #31 "various webroot files not loading"
docker env, multiple files cannot be loaded from resgrid.webcore container due to the missing '.map' suffix.

failed to load SourceMap: Could not load content for http://<snip>/clib/kendo/js/kendo.web.min.js.map: HTTP error: status code 404
failed to load SourceMap: Could not load content for http://<snip>/js/site.min.js.map: HTTP error: status code 404
failed to load SourceMap: Could not load con

[2021-06-02 13:56] ucswift commented on #30
Ok, I'll test with the latest master, I have no given that a QA pass yet, which I do when I prepare the release, so it easily could be in a weird state. I'll give that a shot today and push up a fix.

[2021-06-13 19:45] ucswift commented on #30
@netforce I just pushed https://github.com/Resgrid/Core/commit/0635e0881f1c6341783fcfa6ac12f293d8d6c68b into develop, it fixes the issue, was a typo in the table name. I'll be working on getting that into master here shortly.

[2021-06-16 09:04] netforce commented on #30
Seems to be fixed in branch develop indeed :)  I have not tested a clean install yet, because it is to much hassle to create a new database now.

![ScreenShot16062021_110011](https://user-images.githubusercontent.com/1097377/122190452-1e126080-ce92-11eb-814f-5748ecf1e63e.png)

[2021-06-21 07:02] netforce commented on #31
it seems that the kendo-ui library version v2017.2.504 has been undergoing changes since it was loaded into the source of ResgridWeb.

[2021-07-24 19:04] ucswift commented on #31
@netforce yea, I've been working on stripping kendo out in terms of standard bootstrap. Hopefully will have that finished in the next release.

[2021-08-15 14:48] dxbro opened #38 "HTTP Error 500.19 - Internal Server Error"
I followed the youtube configuration instructions and am getting the following error when opening https://resgrid.local/
![Untitled](https://user-images.githubusercontent.com/88574897/129482499-290d97f4-3e9b-45e6-890e-0d6dd4d23a3a.png)

[2021-08-15 16:59] ucswift commented on #38
Hey @dxbro can you look at the Windows Application Log and see if there is an aspnet error in there and supply the details.

[2022-02-23 06:32] MrDrakeM opened #46 "Error 500 self hosted (Sorry would of posted this in discord but i cant find a link)"
![image](https://user-images.githubusercontent.com/100260841/155270700-16543e78-7d24-4763-b4d3-cfc478214d60.png)
![image](https://user-images.githubusercontent.com/100260841/155271126-41011526-5f1b-4dfd-bb1c-04d882559a17.png)
![image](https://user-images.githubusercontent.com/100260841/155271169-d9128263-db34-4937-bfea-e44ffa75b710.png)
![image](https://user-images.githubusercontent.com/100260841/

[2022-02-28 00:55] ucswift commented on #46
Hey @MrDrakeM can you check your Windows Event log in the Application Category, should give you more details on the error from IIS.

Also a new release is next up on my todo list once I get the Unit app update out, it'll be a docker only setup which will ease some of the complication with the current install.

[2022-03-20 19:35] ucswift commented on #46
Hello,
   We have migrated away for the source based releases with the v0.5.30 release (https://github.com/Resgrid/Core/releases/tag/v0.5.30) and are no longer supporting this release method. Please try and use the new docker based install and if you have any issues you can open up a new issue.

[2022-03-20 19:35] #46 closed

[2022-03-20 19:36] ucswift commented on #38
Hello,
   We have migrated away for the source based releases with the v0.5.30 release (https://github.com/Resgrid/Core/releases/tag/v0.5.30) and are no longer supporting this release method. Please try and use the new docker based install and if you have any issues you can open up a new issue.

[2022-03-20 19:36] #38 closed

[2022-03-20 19:37] ucswift commented on #10
With the v0.5.30 we have tested containers with Fedora 35 and Ubuntu 20.04. In the Docker folder in the repo there is a resgrid.env file that notes all the needed values for the containers. If you have any issues with that release please open up a new issue.

[2022-03-20 19:37] #10 closed

[2022-03-20 19:37] #30 closed

[2022-03-20 19:38] #31 closed